In [1]:
#palindrom
#python program  to check if a number is palidrom
#using loop

In [3]:
x="malayalam"
y=""
for i in x:
    y=y+i
if (x==y):
    print("yes")
else:
    print("no")

yes

In [24]:
x="yes"
w=" "
for i in x:
    w=i+w
if x==w:
    print("yes")
else:
    print("NO")

NO

In [17]:
#using def function
def ispalindrome(s):
    return s==s[::-1]
s="malayalam"
ans= ispalindrome(s)
if ans:
    print("yes")
else:
    print("no")

yes

In [5]:
#numbers palindrome
x="121"
w=" "
for i in x:
    w=i+x
if w==w:
    print("yes")
else:
    print("no")

yes

In [25]:

x="hello"
y=" "
for i in x:
    y=i+y
if x==y:
    print("yes")
else:
    print("no")

no

In [27]:
def ispalindrome(s):
    return s==s[::-1]
s="malayalam"
x=ispalindrome
if x:
    print("yes")
else:
    print("no")

yes

In [31]:
#numbers palindrome
num=int(input("enter the value:"))
a=num
s=0
while num>0:
    digit=num%10
    s=s*10+digit
    num=num//10
if a==s
    print("number is palindrome!")
else:
    print("number is not palindrome!")

enter the value:121
number is palindrome!

In [34]:
#divisible
a=40
print("number is not divisible by 2 or 3:")
for i in range(1,a,2):
    if i%3!=0:
        print(i)

number is not divisible by 2 or 3:
1
5
7
11
13
17
19
23
25
29
31
35
37

In [36]:
n=int(input("enter the limit:"))
s=0
while n>0:
    digit=n%10
    s=s+digit
    n=n//10
print("the all total sum of the digit is:",s)

enter the limit:12345
the all total sum of the digit is: 15

In [40]:
#armstrong
x=int(input("enter the limit:"))
num=x
s=0
while num>0:
    digit=num%10
    s=s+digit**3
    num=num//10
if s==x:
    print("armstrong")
else:
    print("no armstrong")

enter the limit:153
armstrong

In [12]:
n=int(input("enter an integer:"))
print("the divisors of an number are:")
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter an integer:8
the divisors of an number are:
1
2
4
8

In [2]:
#smallest divisor of an number
l1=[1,2,3,6,7]
print("the smallest element",l1)

[1, 2, 3, 6, 7]

In [13]:
num=5
for i in range(num+1):
    print(" "*i,"* "*(num-i))

 * * * * *
  * * * *
   * * *
    * *
     *

In [1]:
#check leap year or not
year=int(input("enter the year:"))
if (year %400==0)and(year%100==0):
    print("{0} is a leap year".format(year))
elif(year%4==0)and(year%100!=0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

enter the year:2012
2012 is a leap year

In [2]:
#swaping
x=5
y=7
print("value of x:",x,"and y:",y)
x,y=y,x
print("value of x:",x,"and y:",y)

value of x: 5 and y: 7
value of x: 7 and y: 5

In [3]:
a=int(input("enter the first value:"))
b=int(input("enter the second value:"))
quotient=a//b
remainder=a%b
print(quotient)
print(remainder)

enter the first value:10
enter the second value:13
0
10

In [4]:
#python program simple intrest
p=3000
r=7
t=1
print(p*r*t/100)

210.0

In [5]:
#area of traingle
a=int(input("enter the base:"))
b=int(input("enter the height:"))
area=a*b/2
print("area=",area)

enter the base:5
enter the height:5
area= 12.5

In [6]:
#centementers inches and feet
in_cm=int(input("enter the height:"))
in_inches=0.394*in_cm
in_feet=0.0328*in_cm
print("the length in inches is")
print(round(in_inches,2))
print("the length in feet is")
print(round(in_feet,2))

enter the height:6
the length in inches is
2.36
the length in feet is
0.2

In [7]:
l1=[1,2,3,6,7]
print("the smallest element is",min(l1))

the smallest element is 1

In [8]:
#febinocci series
n=int(input("enter an integer:"))
print("the divisors of an number are:")
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter an integer:6
the divisors of an number are:
1
2
3
6

In [9]:
#FACTORIAL 
a=int(input("enter the first value:"))
b=int(input("enter the last value:"))
c=(input("choose your operation"))
s=1
for i in range(a,b+1):
    s=s*i
print(s)

enter the first value:1
enter the last value:6
choose your operation*
720

In [10]:
x=int(input("enter the value:"))
num=x
s=0
while num>0:
    digit=num%10
    s=s+digit**3
    num=num//10
if x==s:
    print("the number is armstrong")
else:
    print("this number is not armstrong")

enter the value:153
the number is armstrong

In [12]:
x=int(input("enter the value:"))
num=x
s=0
while num>0:
    digit=num%10
    s=s+digit**2
    num=num//10
if x==s:
    print("THE NUMBER IS ARMSTRONG")
else:
    print("THIS NUMBER IS NOT ARMSTRONG")

enter the value:43
THIS NUMBER IS NOT ARMSTRONG

In [6]:
# 5 divisible
a=40
print("number is not divisible by 5:")
for i in range(1,a+1):
    if i%5==0:
        print(i)

number is not divisible by 5:
5
10
15
20
25
30
35
40

In [8]:
#quardratic equation
a=5
b=8
c=4
d=(b**2)-(4*a*c)
if d>0:
    x=(-b-cmath.sqrt(d))/(2*a)
    y=(-b+cmath.sqrt(d))/(2*a)
print("the solutions are {0},{1}".format(x,y))

NameError: name 'x' is not defined

In [9]:
#area of circle
r=int(input("enter the value:"))
area=3.14*r**2
print(area)

enter the value:6
113.04

In [10]:
#area of rectangle
a=int(input("enter the height:"))
b=int(input("enter the width:"))
area=a*b
print(area)

enter the height:3
enter the width:5
15

#